<html>

<body>
    <h1>Create Task</h1>
    <form method="post" action="/tasks">
        <table>
            <tr>
                <td>Title</td>
                <td><input type="text" name="txt1" /></td>
            </tr>
            <tr>
                <td><input type="submit" /></td>
            </tr>
        </table>
    </form>
</body>

</html>